.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 8em;
  left: 0px;
  top: 1vw;
  height: 25vh;
  position: fixed;
  margin-left: 1.5vw;
}

.list-item {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin-left: 0;
  background: transparent;
  transition: width 0.5s ease, margin-left 0.5s ease, padding-left 0.5s ease,
    background-color 0.5s ease;
  width: 0;
  text-decoration: none;
  color: white;
}
.list-item:hover {
  background-color: rgb(0, 144, 144);
  color: white;
  width: 80%;
  margin-left: 10px;
  padding-left: 10px;
  cursor: pointer;
}
