.projects {
  display: flex;
  flex-direction: column;
}

.project-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: 50vh;
  overflow: hidden;
}

.project {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 30vw;
  text-align: center;
  padding: 0.5em;
  padding-bottom: 0em;
  background-color: rgb(31, 31, 31);
  border: 2px solid grey;
  border-radius: 20px;
  transition: 0.7s;
}

.project-image {
  width: 95%;
  max-height: 20vw;
  z-index: 9;
}

.project--active {
  align-items: center;
  width: 40vw;
  height: 30vw;
  opacity: 1;
  transform: scale(1);
  z-index: 9;
}
.project--active:hover {
  height: 600px;
  .project-description {
    display: flex;
    height: 25%;
    width: 90%;
    opacity: 1;
    transform: translateY(20px);
    font-size: calc(5px + 1vmin);
  }
}

.project-description {
  width: 90%;
  font-size: calc(5px + 1vmin);
  opacity: 0;
  transition: 1s;
}

.project--left {
  width: 22vw;
  height: 30vh;
  transform: translateX(-135%) scale(0.6);
  transition: 500ms;
  opacity: 0.3;
}

.project--right {
  width: 22vw;
  height: 30vh;
  transform: translateX(135%) scale(0.6);
  transition: 500ms;
  opacity: 0.5;
}

.project--hidden {
  transform: scale(0.6);
  opacity: 0;
}

.project-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.project-href {
  color: white;
  margin-right: 1vw;
}

.project-github {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: -1%;
}
.project-github:hover {
  color: white;
}
