.educations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
}

.education-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30vw;
  padding-right: 1vw;
  border-right: 2px solid white;
  margin-right: 30vw;
}

.education-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30vw;
  padding-left: 1vw;
  border-left: 2px solid white;
  margin-left: 30vw;
}

.education-image {
  max-width: 15vw;
}
