.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 5em;
  right: 0px;
  top: 1vw;
  height: 30vh;
  position: fixed;
}

.icon {
  height: 50px;
  width: 50px;
  transition: transform 0.4s;
}
.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
