.contact {
  display: flex;
}

.icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5em;
  right: 0px;
  top: 2vh;
  height: 25vh;
}

.icon {
  color: rgb(207, 207, 207);
  font-size: 4.5vh;
  transition: font-size 0.2s ease;
}
.icon:hover {
  color: black;
  cursor: pointer;
}

#iconList {
  animation-duration: 0.5s;
}

.vertical-shake {
  animation: vertical-shaking 0.35s infinite;
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.phone-popup {
  position: fixed;
  top: 210px;
  right: 0vw;
  transition: 0.5s;
  opacity: 0;
}

.phone-popup-active {
  position: fixed;
  top: 210px;
  right: 6vw;
  transition: 0.5s;
  color: black;
  background-color: rgb(221, 221, 221);
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.1em;
  opacity: 1;
}

.email-popup {
  position: fixed;
  top: 145px;
  right: 0vw;
  transition: 0.5s;
  opacity: 0;
}

.email-popup-active {
  position: fixed;
  top: 145px;
  right: 6vw;
  transition: 0.5s;
  color: black;
  background-color: rgb(221, 221, 221);
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.1em;
  opacity: 1;
}
