.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
  margin-bottom: 10px;
}

.icon {
  max-height: 50px;
  transition: transform 0.4s;
}
.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
