@import "~react-image-gallery/styles/scss/image-gallery.scss";

.images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery {
  width: 50%;
  height: auto;
}

.image-gallery-slide img {
  width: 300px;
  height: 100%;
  max-height: 80vh;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
  border-radius: 400px;
}
