@import "~react-image-gallery/styles/scss/image-gallery.scss";

.images {
  display: flex;
  justify-content: center;
  // border: 2px solid green;
}

.image-gallery-slide {
  // background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  // color: #fff;
  // left: 45%; // you can modify this value to center the text
  // line-height: 1;
  padding: 20px 20px;
  position: absolute;
  white-space: normal;
  justify-content: center;
  align-items: center;
  // border: 2px solid blue;
}
