.menu {
  width: 5em;
  left: 0px;
  top: 0px;
  height: 100vh;
  position: fixed;
  border: 2px solid red;
}

.menu-extended {
  width: 5em;
  left: 0px;
  top: 0px;
  height: 100vh;
  position: fixed;
}

.menu-bars {
  margin-top: 150px;
}
