.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  width: 80vw;
}

.project {
  display: flex;
  flex-direction: column;
  width: 22vw;
  margin: 1em;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.project:hover {
  color: white;
  box-shadow: 5px 5px 5px grey;
  transform: scale(1.02);
}

.project-image {
  max-width: 25vw;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}
