.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-area {
  display: flex;
  flex-direction: row;
}

.project {
  display: flex;
  flex-direction: column;
  margin: 1em;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.5em;
  background-color: transparent;
  border: 2px solid grey;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
.project:hover {
  color: whitesmoke;
  box-shadow: 5px 5px 5px grey;
  transform: scale(1.02);
}

.project-image {
  max-width: 25vw;
}
