.projects {
  display: flex;
  flex-direction: column;
}

.project-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  height: 50vh;
  overflow: hidden;
}

.project {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 40vh;
  text-align: center;
  padding: 0.5em;
  background-color: rgb(31, 31, 31);
  border: 2px solid grey;
  border-radius: 20px;
  transition: 0.7s;
}

.project-image {
  width: 90%;
  max-height: 20vh;
}

.project--active {
  opacity: 1;
  transform: scale(1);
}

.project--left {
  transform: translateX(-95%) scale(0.6);
  transition: 500ms;
  opacity: 0.3;
}

.project--right {
  transform: translateX(95%) scale(0.6);
  transition: 500ms;
  opacity: 0.5;
}

.project--hidden {
  transform: scale(0.6);

  opacity: 0;
}
